@tailwind base; 
@tailwind components; 
@tailwind utilities; 

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw; 
    background-color: rgb(2 6 23 );
}